name: Continuous Integration

on:
- push
- pull_request

jobs:
  compile-and-test:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        rust:
        - stable
        - nightly
        - 1.52 # Minimum Supported Rust Version
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
          key: ${{ matrix.rust }}-${{ runner.os }}-${{ github.workflow }}-${{ github.job }}-${{ hashFiles('**/Cargo.lock') }}
    - name: Initialize the Rust Toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
    - name: Type Checking
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --workspace --verbose
    - name: Compile
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --workspace --verbose
    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace --verbose
